name: build wheel with ci

on:
  workflow_dispatch:

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]
      fail-fast: false
    env:
      CIBW_BEFORE_BUILD: pip install -r requirements.txt
      CIBW_ARCHS_LINUX: "x86_64 aarch64"
      CIBW_ARCHS_WINDOWS: "AMD64 x86"
      CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
      CIBW_CONFIG_SETTINGS: "--use-cython --use-cffi"
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - name: Set up QEMU
      if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all
    - name: Install cibuildwheel
      run: python -m pip install cibuildwheel==2.17.0
    - name: Build wheels
      run: python -m cibuildwheel --output-dir wheelhouse
    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: ./wheelhouse/*.whl